<%- include ("../partials/header") %>

<div class="well">
    <% articles.forEach(article => { %>
        <div class="row">
            <div class="col-md-12">
                <strong><%= article.title %></strong>
                <span class="pull-right"><%= article.author.username %></span>
                <p>
                    <%= article.description %>
                </p>
                <% if(currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-xs btn-info" href='/articles/approve/<%= article._id %>'>Review</a>
                <% } %>
            </div>
        </div>
    <% }) %>
</div>

<%- include ("../partials/footer") %>