<div class='authors'>
    <h1 class='authors__header'>Core authors</h1>
    <%- include("./author-entry")>
    <%- include("./author-entry")>
    <%- include("./author-entry")>
    <h1 class='authors__header'>Guest authors</h1>
    <%- include("./author-entry")>
    <%- include("./author-entry")>
    <%- include("./author-entry")>
    <%- include("./author-entry")>
  </div>
  <link rel="stylesheet" href="/stylesheets/author-page-content.css">