<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/shared-classes.css" />
    <link rel="stylesheet" href="/stylesheets/general-page-styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css" integrity="sha512-ShLuspGzRsTiMlQ2Rg0e+atjy/gVQr3oYKnKmQkHQ6sxcnDAEOtOaPz2rRmeygV2CtnwUawDyHkGgH4zUbP3Hw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/edit-field.css">
    <link rel="stylesheet" href="/stylesheets/right-panel.css">
    <link rel="icon" sizes="64x64" href="/favicon.ico?ver=3">
</head>

<body>
    <div class="header">
        <h2 class="header__title"><a href="/">Pinch of Code</a></h2>
        
        <div class='header__logo-wrapper'>
            <img src='/assets/logo.svg' class="header__logo img-fit">
        </div>
        <ul class="header__nav-bar desktop-only">
            <li><h3><img id='article-search-icon' class='header__article-search-icon' src='/assets/search.svg'> <form id='article-search-form' class='header__article-search-form hidden'><input class='input header__article-search-input' id='article-search-input'/></form></h3></li>
            <li><h3><a class="header__link" href="/">Home</a></h3></li>
            <li><h3><a class="header__link" href="/categories">Categories</a></h3></li>
            <li><h3><a class="header__link" href="/authors">Authors</a></h3></li>
            <% if(currentUser && currentUser.role === 'author') {  %>
                <li><h3><a href="/articles/new">New Article</a></h3></li>
                <li>
                    <a href="/authors/<%=currentUser.link%>">
                        <img class="header__link header__my-account" src="/assets/<%- currentUser ? 'loggedIn.svg' : 'account.svg' %>">
                    </a>
                </li>
            <% } else { %>
                <li>
                    <a href="<%- currentUser ? '/' : '/register' %>">
                    <img class="header__link header__my-account" src="/assets/<%- currentUser ? 'loggedIn.svg' : 'account.svg' %>">
                    </a>
                </li>
            <% } %>
        </ul>
        <div id='hamburger-menu' class="header__hamburger-wrapper mobile-only">
            <div class='header__hamburger' role='button'>
                <div class='header__hamburger-stroke'></div>
                <div class='header__hamburger-stroke'></div>
                <div class='header__hamburger-stroke'></div>
            </div>
        </div>
    </div>
    <div class="notification-thing">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger"><p><%=error %></p></div>
        <% } %>
        
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success"><p><%= success %></p></div>
        <% } %>
    </div>
    <div class='header__menu hidden scroll' id='header__menu'>
        <h2>Pages</h2>
        <ul class="header__menu-navbar">
            <li><h3><a class="header__link" href="/">Home</a></h3></li>
            <li><h3><a class="header__link" href="/categories">Categories</a></h3></li>
            <li><h3><a class="header__link" href="/authors">Authors</a></h3></li>
            <% if(currentUser && currentUser.role === 'author') {  %>
                <li><h3><a href="/articles/new">New Article</a></h3></li>
                <li>
                    <a href="/authors/<%=currentUser.link%>">
                        <h3><a class="header__link" href="/authors/<%=currentUser.link%>">My account</a></h3>
                    </a>
                </li>
            <% } else { %>
                <li>
                    <a href="<%- currentUser ? '/' : '/register' %>">
                        <h3><a class="header__link" href="<%- currentUser ? '/' : '/register' %>">Register</a></h3>
                    </a>
                </li>
            <% } %>
            <li><h3><img id='article-search-icon--hamburger' class='header__article-search-icon' src='/assets/search.svg'> <form id='article-search-form--hamburger' class='header__article-search-form hidden'><input class='input header__article-search-input' id='article-search-input--hamburger'/></form></h3></li>
        </ul>
        <hr>
        <h2>Common categories</h2>
        <ul class="header__menu-navbar header__menu-navbar--common-categories">
            <% if(typeof commonCategories !== 'undefined') { %>
                <% commonCategories.forEach((category, index) => { %>
                    <li class="common-category">
                        <% if(index < 3) {  %>
                            <h3 class='common-category--very-common'>
                        <% } else if (index < 6) {%>
                            <h3 class='common-category--common'>
                        <% } else {%>
                            <h3 class='common-category--uncommon'>
                        <% } %>
                            <a class="header__link" href="/?category=<%=category.key%>"><%=category.displayValue%></a>
                        </h3>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </div>

<noscript>You need to enable JavaScript to run this app.</noscript>