<link rel="stylesheet" href="/stylesheets/edit-profile.css"> 

<div class='edit-profile'>
    <h1>Edit your profile</h1>
    <form id="edit-user-form" action="/authors/<%=user.link%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class='edit-profile__avatar-edit-section'>
            <div id="edit-profile__avatar">
                <img src='/image/<%=user.link%>' class='edit-profile__avatar' onerror="this.style.display='none'">
                <label class='edit-profile__edit-avatar-custom-file-uploader'>
                    <input class='edit-profile__edit-avatar' type='file' name="avatar">
                </label>
            </div>
            </div>
            <div class='edit-profile__inputs'>
                <h2>Credentials</h2>
                <input class='input' type="password" placeholder='Password' name="password" minlength="<%=limits.PASSWORD_MIN_LENGTH%>" maxlength="<%=limits.PASSWORD_MAX_LENGTH%>"></input>
                <input class='input' type="password" placeholder='Repeat Password' name="repeat_password" minlength="<%=limits.PASSWORD_MIN_LENGTH%>" maxlength="<%=limits.PASSWORD_MAX_LENGTH%>"></input>
                <h2>Author's Social media</h2>
                <input class='input' type="text" value="<%=user.socials.github%>" name="github" placeholder="Github Profile Link..."></input>
                <input class='input' type="text" value="<%=user.socials.linkedin%>" name="linkedin" placeholder="LinkedIn Profile Link..."></input>
                <input class='input' type="text" value="<%=user.socials.codepen%>" name="codepen" placeholder="Codepen Profile Link..."></input>
                <hr>
                <h2>Author's additional info</h2>
                <input class='input' type="text" name="fullname" value="<%=user.fullname%>" placeholder='Full name' minlength="<%=limits.FULLNAME_MIN_LENGTH%>" maxlength="<%=limits.FULLNAME_MAX_LENGTH%>"></input>
                <input class='input' type="text" name="motto" value="<%=user.motto%>"placeholder='Motto' minlength="<%=limits.MOTTO_MIN_LENGTH%>" maxlength="<%=limits.MOTTO_MAX_LENGTH%>"></input>
                <textarea class='edit-profile__bio' name="bio" cache-content='user-bio' placeholder='Write here your introduction...' minlength="<%=limits.BIO_MIN_LENGTH%>" maxlength="<%=limits.BIO_MAX_LENGTH%>"><%=user.bio%></textarea>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </div>
        <button class='button-primary'>Save</button>
        </form>
    <button id="logout-button" class='button-primary edit-profile__delete-account'>Log out</button>
    <hr>
    <div class="edit-profile__danger-zone">
        <h1 class='edit-profile__danger-zone-header'>Danger zone</h1>
        <button id='edit-profile__delete-account' class='button-primary edit-profile__delete-account' data-username='<%=user.username%>'>Delete account</button>
    </div>
    <hr>
    <div>
        <h1>My comments</h1>
        <% if(comments && comments.length > 0) { %>
            <% comments.forEach(comment => { %>
                <%- include("../../partials/comment", {comment}) %>
            <% }) %>
            <button class='button-primary'>Load more</button>
        <% } else { %>
            You have no comments...
        <% } %>
    </div>
</div>