<%- include ("../partials/header") %>

<div class="row">
    <div class = "col-md-4">
        <div class="thumbnail">
            <img src="/image/<%= user.username %>" alt="User profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        <h5>Bio:</h5>
        <p><%= user.bio %></p> 
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class = "text-center">
                <a class = " btn btn-lg btn-default" href = "/users/<%= user._id %>/edit">
                    Edit Profile
                </a>
            </div>
        <% } %>
    </div>
    <div class = "col-md-8">
        <h3><%= user.username %>'s Articles:</h3>
        <ul>
            <% if(articles.length < 1) { %>
                <h6 class="mt-4 ml-2"><em>No articles submitted yet...</em></h6> 
            <% } else { %>
                <% articles.forEach( article => { %>
                    <a href="/articles/<%= article.id %>"><%= article.title %></a>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>
<%- include ("../partials/footer") %>