<link rel="stylesheet" href="/stylesheets/top-stories.css">
<div class='top-stories'>
    <div class='top-stories__title'>
      <h2 class='top-stories__header'>Top stories</h2>
    </div>
     <!-- ejs this part when we have a top story functionality -->
    <div class='top-stories__articles-borwser desktop-only'>
      <% if(articles) { %>
        <% articles.filter(article => article.isApproved).forEach((article, i) => { %>
            <% if(i < 3) {%>
              <a href="/articles/<%=article.link%>" class='top-stories__article-card'>
                <img
                  class='top-stories__article-image center-background img-fit'
                  src="/articles/image/<%=article.link%>">
                <div class='top-stories__article-card-label'><%=article.title %></div>
              </a>
            <% } %>
        <% }) %>
      <% } %>
    </div>
    <link rel="stylesheet" href="/stylesheets/recommended-article.css">
    <div class="glide mobile-only">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <% if (articles.filter(article => article.isApproved).length === 0) { %>
            <li class="glide__slide"></li>
          <% } %>
          <% articles.filter(article => article.isApproved).forEach((article, i) => { %>
            <li class="glide__slide">
              <a href="/articles/<%=article.link%>">
                <div class='recommended-article'>
                  <img class='recommended-article__image' src='/articles/image/<%=article.link%>'>
                  <h2 >
                    <%= article.title %>
                  </h2>
                  <div class='recommended-article__text'>
                    <%= article.description %>
                    <!-- If the text is too long, EJS should put "..." at the end and cut the text. -->
                  </div>
                </div>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>