<link rel="stylesheet" href="/stylesheets/top-stories.css">
<div class='top-stories'>
    <div class='top-stories__title'>
      <h2 class='top-stories__header'>Top stories</h2>
    </div>
     <!-- ejs this part when we have a top story functionality -->
    <div class='top-stories__articles-borwser desktop-only'>
      <% if(articles) { %>
        <% articles.forEach((article, i) => { %>
            <% if(i < 3) {%>
              <div class='top-stories__article-card center-background' style="background-image: url(/articles/image/<%=article._id%>) !important" onclick="window.location.href='/articles/<%=article._id%>'">
                  <div class='top-stories__article-card-label'><%=article.title %></div>
              </div>
            <% } %>
        <% }) %>
      <% } %>
    </div>
    <!---                                                       -->
    <div class="glide mobile-only">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <%- include("../components/article/recommended-article") %>
          </li>
          <li class="glide__slide">
            <%- include("../components/article/recommended-article") %>
          </li>
          <li class="glide__slide">
            <%- include("../components/article/recommended-article") %>
          </li>
        </ul>
      </div>
    </div>
  </div>