<%- include ("../partials/header") %>
<div class="row">
    <h1 class="text-center">Edit Profile!</h1>
    <div class="loginDiv">
        <form action="/users/<%= user._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <input class="form-control" type="email" name="email" value="<%= user.email %>">
            <% if(user && user.role === "author") { %>
            <div class="form-group">
                <input class="form-control" type="file" name="avatar">
            </div>
            <% } %>
            <label for="bio">Bio</label>
            <textarea class="form-control" type="bio" name="bio" rows="5"> <%= user.bio %> </textarea>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Edit!</button>
            </div>
        </form>
        <a href="/articles">Go Back</a>
    </div>
</div>
<%- include ("../partials/footer") %>