<%- include ("../partials/header") %>

<div class="row">
    <div class = "col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="User profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        <h5>Bio:</h5>
        <p><%= user.bio %></p> 
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class = "text-center">
                <a class = " btn btn-lg btn-default" href = "/users/<%= user._id %>/edit">
                    Edit Profile
                </a>
            </div>
        <% } %>
    </div>
    <div class = "col-md-8">
        <h3><%= user.username %>'s campgrounds:</h3>
        <ul>
            <% if(campgrounds.length < 1) { %>
                <h6 class="mt-4 ml-2"><em>No campgrounds submitted yet...</em></h6> 
            <% } else { %>
                <% campgrounds.forEach( campground => { %>
                    <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>>
<%- include ("../partials/header") %>