<link rel="stylesheet" href="/stylesheets/listed-article.css">
<div class='listed-article text-read-friendly'>
  <%- include(`../../../ssrUtils/responsiveImage`, {
    url: `/articles/image/${article.link}`,
    version: article.lastChanged,
    imageSizes: [650, 864, 400, 400],
    classList: 'listed-article__image cursor-change center-background img-fit',
    data: article.link,
    id: null
  }) %>
  <div class='listed-article__content'>
    <% if(isReviewing) {%>
      <a href="/articles/approve/<%= article.link %>">
        <h2 class='listed-article__header'><%= article.title %></h2>
      </a>
    <% } else { %>
      <a href="/articles/<%= article.link %>">
        <h2 class='listed-article__header'><%= article.title %></h2>
      </a>
    <% } %>
    <div class='listed-article__author'>
        by <a href="/authors/<%= article.author.link %>">  
                <%= article.author.fullname %>
            </a>
    </div>
    <div class='listed-article__text' ellipsize>
      <%= article.description %>
      <!-- If the text is too long, EJS should put "..." at the end and cut the text. -->
    </div>
  </div>
</div>
