<div class='articles-listing'>
    <!-- EJS GOES HERE TO LIST OUT THE ARTICLES -->
    <%- include("./top-article") %>
    <%- include("./listed-article") %>
    <%- include("./listed-article") %>
    <%- include("./listed-article") %>
    <%- include("./listed-article") %>
</div>
<link rel="stylesheet" href="/stylesheets/article-listing-page-content.css"> 