<link rel="stylesheet" href="/stylesheets/top-article/top-article.css">
<div class='top-article text-read-friendly'>
  <div class='top-article__image cursor-change' __data="<%=article._id%>"></div>
  <div class='top-article__image-spacer'></div> 
  <a href="/articles/<%= article._id %>">
    <h2 class='top-article__header'><%=article.title%></h2>
  </a>
  <div class='top-article__author'>
    by <a href="/authors/<%= article.author.id %>">  
      <%= article.author.username %>
    </a>
  </div>
  <div class='top-article__text'><%=article.description%></div>
</div>
