<link rel="stylesheet" href="/stylesheets/top-article/top-article.css">
<div class='top-article text-read-friendly'>
  <%- include(`../../../ssrUtils/responsiveImage`, {
    url: `/articles/image/${article.link}?version=${article.lastChanged}`,
    imageSizes: [650, 1024, 1920, 2048],
    classList: 'top-article__image cursor-change center-background img-fit',
    data: article.link,
    id: null
  }) %>
  <div class='top-article__image-spacer'></div> 
  <a href="/articles/<%= article.link %>">
    <h2 class='top-article__header'><%=article.title%></h2>
  </a>
  <div class='top-article__author'>
    by <a href="/authors/<%= article.author.link %>">  
      <%= article.author.fullname %>
    </a>
  </div>
  <div class='top-article__text'><%=article.description%></div>
</div>
