<link rel="stylesheet" href="/stylesheets/article-edit.css">
<h1>
    <% if(type === 'new') {%>
    New Article
    <% } else { %>
    Edit Article
    <% } %>
</h1>
<form action="<%=url%>" method="POST">
<input type="text" name="title" placeholder="title" value="<%=article.title%>" required/>
<input type="text" name="description" placeholder="description" value="<%=article.description%>" required/>
<textarea class='article-edit__text-edit' name="body" placeholder='Write here...' value='<%=article.body%>' required></textarea>
<div class='article-edit__uplo'></div>
<div class='article-edit__advanced-actions'>
  <%- include("./image-upload") %>
  <%- include("./category-selector", {categories}) %>
</div>
<div class='article-edit__buttons'>
  <button class='button-primary article-edit__button'>Accept</button>
  <% if(type === 'edit') { %>
    <button class='button-primary article-edit__button article-edit__delete'>Delete</button>
    <% } %>
</div>
</form>
<h1>Preview</h1>
<div>MARKDOWN RENDER</div>
<%- include("../../partials/confirmation-modal") %>