<link rel="stylesheet" href="/stylesheets/article-edit.css">
<h1>
    <% if(type === 'new') {%>
    New Article
    <% } else { %>
    Edit Article
    <% } %>
</h1>
<% if(type === 'new') { %>
    <form id="article-form" action="/articles" method="POST" enctype="multipart/form-data">
<% } else {%>
  <form id="article-form" action="/articles/<%=article.link%>?_method=PUT" method="POST">
<% } %>
<input class="input" type="text" name="title" placeholder="title" value="<%=article.title%>" minlength="<%=limits.TITLE_MIN_LENGTH%>" maxlength="<%=limits.TITLE_MAX_LENGTH%>" required  cache-content='article-title'/>
<h3>Header:<% if(type === 'edit') { %>
  <input type='file' name="header" accept=".jpeg,.jpg,.png,.bmp" placeholder="Header">
<% } else { %>
  <input type='file' name="header" accept=".jpeg,.jpg,.png,.bmp" placeholder="Header" required>
<% } %>
</h3>
<textarea class='article-edit__text-edit--description' name="description" placeholder='Write description here..' minlength="<%=limits.DESC_MIN_LENGTH%>" maxlength="<%=limits.DESC_MAX_LENGTH%>" cache-content='article-bio'><%=article.description%></textarea>
<textarea id="article-edit-box" class='article-edit__text-edit' name="body" placeholder='Write the article here...' pattern=".{<%=limits.BODY_MIN_LENGTH%>,<%=limits.BODY_MAX_LENGTH%>}" minlength="<%=limits.BODY_MIN_LENGTH%>" maxlength="<%=limits.BODY_MAX_LENGTH%>" required cache-content='article-body'><%=article.body%></textarea>
<div class='article-edit__uplo'></div>
<div class='article-edit__advanced-actions'>
  <%- include("./image-upload") %>
  <%- include("./category-selector", {categories}) %>
</div>
<div class='article-edit__buttons'>
  <button class='button-primary article-edit__button'>Accept</button>
  <% if(type === 'edit') { %>
    <button id="article-delete-button" __article-id="<%=article.link%>" class='button-primary article-edit__button article-edit__delete'>Delete</button>
  <% } %>
</div>
</form>
<h1>Preview</h1>
<div id="preview-div">MARKDOWN RENDER</div>
<%- include("../../partials/confirmation-modal") %>