<div class="categories-listing">
    <%- include("./listed-category") %>
    <%- include("./listed-category") %>
    <%- include("./listed-category") %>

    <%- include("./listed-category") %>
    <%- include("./listed-category") %>
    <%- include("./listed-category") %>
    
    <%- include("./listed-category") %>
    <%- include("./listed-category") %>
    <%- include("./listed-category") %>

    <%- include("./listed-category") %>
    <%- include("./listed-category") %>
    <%- include("./listed-category") %>
</div>