<link rel="stylesheet" href="/stylesheets/author-profile.css">
<div class='author-profile'>
  <img class='author-profile__image' src="/image/<%=user.fullname%>" />
  <h1 class='author-profile__name'>
    <div><%=user.fullname %></div>
    <% if(currentUser && (user._id.equals(currentUser._id) || currentUser.isAdmin)) { %>
      <a href="/authors/<%=user.fullname%>/edit"><%- include("../../partials/edit-icon") %></a>
    <% } %>
  </h1>

  <h2 class='author-profile__catchphrase'><%= user.motto %></h2>
  <%- include("./social-network", {socials: user.socials}); %>
  <div class='author-profile__about-me'>
    <%= user.bio %>
  </div>
  <h2 class='author-profile__articles-header'>Author's articles</h2>
  <div class='author-profile__articles'>
    <% articles.forEach(article => { %>
      <% if(article.isApproved) { %>
        <%- include('../articles-listing/listed-article', {article}); %>
      <% } %>
    <% }); %>
  </div>
</div>