<link rel="stylesheet" href="/stylesheets/author-profile.css">
<link rel="stylesheet" href="/stylesheets/category-listing.css">
<div class='author-profile'>
  <!-- <img class='author-profile__image' src="/image/<%=user.link%>" /> -->
  <%- include(`../../../ssrUtils/responsiveImage`, {
    url: `/image/${user.link}`,
    imageSizes: [650, 400, 400],
    classList: 'author-profile__image',
    data: user.link,
    id: null
  }) %>
  <h1 class='author-profile__name'>
    <div><%=user.fullname %></div>
    <% if(currentUser && (user._id.equals(currentUser._id) || currentUser.isAdmin)) { %>
      <a href="/authors/<%=user.link%>/edit"><%- include("../../partials/edit-icon") %></a>
    <% } %>
  </h1>

  <h2 class='author-profile__catchphrase'><%= user.motto %></h2>
  <%- include("./social-network", {socials: user.socials}); %>
  <div class='author-profile__about-me'>
    <%= user.bio %>
  </div>
  <h2 class='author-profile__categories-header'>Author's categories</h2>
  <div class='author-profile__categories'>
    <%- include("../categories-listing/listed-category", {category: {
      "key": "javascript",
      "imageUrl": "/assets/categories/javascript.jpg",
      "displayValue": "JavaScript"
    }}) %>
    <%- include("../categories-listing/listed-category", {category: {
      "key": "typescript",
      "imageUrl": "/assets/categories/typescript.jpg",
      "displayValue": "TypeScript"
    }}) %>
    <%- include("../categories-listing/listed-category", {category: {
      "key": "casestudy",
      "imageUrl": "/assets/categories/casestudy.jpg",
      "displayValue": "Case Study"
    }}) %>
  </div>
  <h2 class='author-profile__articles-header'>Author's articles</h2>
  <% if(user._id.equals(currentUser?._id)) { %>
    <a class='author-profile__draft-anchor' href='/articles/drafts'>My Drafts</a>
  <% } %>
  <div class='author-profile__articles'>
    <% articles.forEach(article => { %>
      <% if(article.isApproved) { %>
        <%- include('../articles-listing/listed-article', {article}); %>
      <% } %>
    <% }); %>
  </div>
</div>