<link rel="stylesheet" href="/stylesheets/author-profile.css">
<div class='author-profile'>
  <div class='author-profile__image'><img src="/image/<%=user.username%>" /></div>
  <h1 class='author-profile__name'><%=user.fullname %></h1>
  <h2 class='author-profile__catchphrase'><%= user.motto %></h2>
  <h4 class='author-profile__social-networks-header'>Find me on</h4>
  <div class='author-profile__social-networks'>
    <%- include("./social-network", {link: {name: "Github", url: "https://github.com/Jordan141"}}); %>
  </div>
  <div class='author-profile__about-me'>
    <%= user.bio %>
  </div>
  <h2 class='author-profile__articles-header'>Author's articles</h2>
  <div class='author-profile__articles'>
    <% articles.forEach(article => { %>
      <% if(article.isApproved) { %>
        <%- include('../articles-listing/listed-article', {article}); %>
      <% } %>
    <% }); %>
  </div>
</div>